body{
    margin: 0;
    font-size: 10px;
    background-color: #f8f8f8;

}

/* header */
header{
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    background-color: #f8f8f8;
}

.header_icon{
    width: 24px;
    height: 24px;
    padding: 8px;
}

.header_icon:hover{
    cursor: pointer;
}

#back_icon{
    display: none;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    margin: 8px 0;
    margin-left: 16px;
}

/* 메뉴 로고  header left*/
#header_left{
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 64px;
}

#menu_icon{
    padding: 8px;
    border-radius: 50%;
}

#menu_icon:hover{
    background-color: #e9e9e9;
}

#logo{
    width: 90px;
    height: 20px;
    padding: 18px 14px 18px 16px;
}

#logo:hover{
    cursor: pointer;
}

/* header middle 관련 - 검색 창 */
#header_middle{
    display: flex;
    flex-basis: 640px;
    align-items: center;
}

#search_box{
    display: flex;
    width: 100%;
    padding: 0px 4px;
    margin-left: 40px;
}

#search_bar{
    width: 100%;
    padding: 0px 4px 0px 16px;
    border: 1px solid #858585;
    height: 38px;
    font-size: 16px;
    border-right: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

#search_bar:focus{
    outline: 1px solid #065fd4;
}

#search_icon{
    padding: 7px 19px;
    border: 1px solid #858585;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #f8f8f8;
}

#search_icon:hover{
    background-color: #e9e9e9;
}

#mic_icon{
    padding: 8px;
    background-color: #f8f8f8;
    border-radius: 50%;
}

#mic_icon:hover{
    background-color: #e9e9e9;
}

/* header right */
#header_right{
    display: flex;
    align-items: center;
    padding-right: 16px;
}
/* 숨김 아이콘 */
#hidden_search_icon{
    width: 24px;
    height: 24px;
    padding: 8px;
    border-radius: 50%;
}

#hidden_search_icon:hover{
    background-color: #e9e9e9;
}
/* 기본 아이콘 */
#set_icon:active{
    border-radius: 50%;
    background-color: #e9e9e9;
}

#login_btn{
    display: flex;
    width: 97.5px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 50px;
    margin-left: 4px;
    
}

#login_btn:hover{
    background-color: rgba(62,166,255,0.3);
}

#login_icon{
    width: fit-content;
    position: relative;
    left: -5px;
    height: 34px;
    padding: 0;
}

#login{
    margin: 0;
    font-size: 14px;
    font-weight: 200;
    color: #065fd4;
    position: relative;
    left: -5px;
}

/* 메뉴 바 nav */

nav{
    position: fixed;
    top: 56px;
    height: 100vh;
    width: 64px;
    padding: 0 4px;
    display: flex;
    background-color: #f8f8f8;
    flex-direction: column;
    z-index: 1000;
}

.nav_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    height: 44px;
    padding-top: 16px;
    padding-bottom: 14px;
    text-decoration: none;
    color: black;
}

.nav_box:hover{
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.nav_icon{
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}
/* 클릭 시 메뉴 */
#click_nav{
    display: flex;
    width: 216px;
    padding: 0 12px;
}

.click_nav_box{
    display: flex;
    width: 180px;
    height: 40px;
    padding: 0 12px;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.click_nav_box:hover{
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.click_nav_icon{
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

/* main */

main{
    width: calc(100% - 104px);
    position: relative;
    top: 80px;
    left: 72px;
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/* contents 영상관련 css*/

.contents_box{
    position: relative;
    background-color: #f8f8f8;
    border-radius: 10px;    
}

.click_contents_box{
    position: absolute;
    width: 360px;
    z-index: 999;
    background-color: #fff;
}

.contents{
    position: relative;
    margin: 0 8px 40px 8px;
    flex-basis: 250px;
    flex-grow: 1;
}

.contents:hover{
    cursor: pointer;
    
}

.contents_top{
    position: relative;
}

.thumb{
    border-radius: 10px;
    width: 100%;
}

.timer{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 3px 4px;
    background-color: #000;
    color: #FFF;
    border-radius: 3px;
    height: 12px;
    right: 5px;
    bottom: 5px;
}
.detail{
    display: flex;
    width: 100%;
}

.channel_profile{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 12px 12px 0 0 ;
}

.contents_bottom{
    width: 100% - 80px;
    padding-right: 24px;
}

.video_head{
    display: -webkit-box;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 14px;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.channel_name{
    margin: 0;
}

.contents_set{
    display: flex;
    position: absolute;
    width: 24px;
    margin-top: 12px;
    right: 0;
    border-radius: 50%;
}
.contents_set:active{
    background-color: #e9e9e9;
}

.hidden_box{
    display: none;
}

.click_hidden_box{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    width: 100%;
}
.contents_hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 24px);
    height: 36px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #e9e9e9;
    margin: 0px 12px;
    margin-bottom: 10px;
    
}

.contents_hidden:active{
    background-color: #dbdbdb;
}
.contents_hidden_icon{
    width: 24px;
    padding-right: 8px;
}
.hidden_icon{
    display: none;
}

#hidden_header_middle{
    display: none;
    flex-basis: 640px;
    align-items: center;
}

/* overlay */

#overlay{
    display: flex;
    width: calc(100% - 240px);
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.25);
    z-index: 1001;
    left: 240px;
    top: 0;
}


@media screen and (max-width : 600px) {
    #header_middle{
        display: none;
    }
    .hidden_icon{
        display: block;
    }
    #login{
        display: none;

    }
    #login_btn{
        width: 24px;
        height: 24px;
        padding: 8px;
        border-radius: 50%;
    }
    #login_icon{
        left: 0;
    }
}

@media screen and (max-width : 420px) {
    #hidden_mic_icon{
        display: none;
    }
    #set_icon{
        display: none;
    }
    nav{
        display: none;
    }
    main{
        width: calc(100% - 32px);
        left: 0;
    }
}
